---
import MainLayout from '../layouts/DefaultLayout.astro';

import HeroSection from '../components/HeroSection.astro';
import Features from '../components/Features.astro';
import CallToAction from '../components/CallToAction.astro';
---

<MainLayout title="Welcome to Absurd.">
	<main class="space-y-40">
		<HeroSection />
		<Features />
		<CallToAction />
	</main>
</MainLayout>
