---
import MainLayout from '@/layouts/DefaultLayout.astro';

import HeroSection from '@/components/HeroSection.astro';
import Features from '@/components/Features.astro';
import CallToAction from '@/components/CallToAction.astro';
import Roadmap from '@/components/Roadmap.astro';
---

<MainLayout title="Welcome to Absurd.">
	<main class="space-y-40">
		<HeroSection />
		<Features />
		<CallToAction />
		<Roadmap />
	</main>
</MainLayout>
