---
import Container from './Container.astro';
---

<footer class="py-20 md:py-40">
    <Container>
        <section class="flex flex-col justify-center text-gray-600 divide-gray-100 dark:divide-gray-700 dark:text-gray-300 md:flex-row">
            <ul role="list">
                <li>
                    <a href="#home" class="transition hover:text-primary-500 dark:hover:text-primary-100">Home</a>
                </li>
                <li>
                    <a href="#features" class="transition hover:text-primary-500 dark:hover:text-primary-100">Features</a>
                </li>
                <li>
                    <a href="#examples" class="transition hover:text-primary-500 dark:hover:text-primary-100">Examples</a>
                </li>
                <li>
                    <a href="#roadmap" class="transition hover:text-primary-500 dark:hover:text-primary-100">Roadmap</a>
                </li>
            </ul>

            <ul role="list">
                <li>
                    <a href="https://buymeacoffee.com/britishwerewolf">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                            <path d="M 4.4746094,0.3828125 C 3.603415,0.49560362 3.5910802,1.8680452 4.4771632,1.9537572 6.369393,2.4808996 8.3788177,2.442473 10.311419,2.1863381 10.996599,1.7070879 9.9521832,1.0440707 9.4260824,1.3958793 8.0724697,1.5061255 6.69436,1.5127108 5.355197,1.2677336 5.0172894,1.0199842 6.0768362,1.0203294 6.2840328,0.95131364 7.6707034,0.80401264 9.116009,0.62822558 10.477476,1.0209817 11.220919,1.1544289 11.231907,1.9384121 11.360416,2.5216446 11.49946,3.3153283 10.197845,2.9107292 9.7211469,3.0882681 7.7358978,3.2313982 5.744313,3.0495567 3.7790188,2.7765128 2.8982576,2.8074422 2.4919457,3.8107154 2.4933771,4.5739287 2.4495835,5.2627231 3.0810334,5.8032705 3.7445661,5.7922867 6.0315917,6.1492764 8.3598852,6.2018724 10.665418,6.0404704 11.653645,5.9069397 11.228302,7.0427143 11.225075,7.6199512 11.017297,9.8574416 10.841294,12.101012 10.52117,14.3255 10.284684,15.186923 9.2500046,15.080038 8.5548395,15.154636 7.6804896,15.16659 6.7188809,15.260053 5.9285265,14.815419 5.3503275,14.29046 5.5059354,13.417693 5.3765213,12.720799 5.1605582,10.715443 4.9605674,8.7054473 4.7329821,6.703151 4.4050608,5.9622755 3.5324193,6.7286296 3.9117194,7.3221583 c 0.2797122,2.4245734 0.4494679,4.8627977 0.775304,7.2812027 0.2139385,0.950352 1.2590482,1.327315 2.135388,1.320141 1.1521349,0.06588 2.3682993,0.212427 3.4729936,-0.203023 0.766288,-0.3053 1.20826,-1.116103 1.200944,-1.920121 C 11.76276,11.219993 12.028205,8.6395254 12.289062,6.0585928 12.663634,5.5732214 13.614978,5.547212 13.500304,4.6918892 13.539382,3.9790213 13.328888,3.0202087 12.529269,2.8263798 11.998776,2.4750163 12.200767,1.7184926 12.005276,1.1874739 11.774274,0.44508594 10.879678,0.25784282 10.207766,0.13346427 8.3043798,-0.14206634 6.3649407,0.12761423 4.4746094,0.3828125 Z M 3.8574219,3.6777344 c 0.8449071,0.1381881 1.6932745,0.2853729 2.5530045,0.3203368 1.8403625,0.1168402 3.6958186,0.044109 5.5136926,-0.2703174 0.707462,-0.2442375 0.988938,0.90469 0.380477,1.153624 C 9.4909759,5.3830267 6.5938569,5.2944277 3.7695312,4.90625 3.2084759,4.8173329 3.301499,3.6684275 3.8574219,3.6777344 Z M 9.8398438,6.9023438 C 8.3636388,7.0342353 7.0318398,8.1400815 5.5045419,7.7448654 5.0683911,7.5124714 5.3454557,8.1028587 5.3138072,8.3386821 c 0.180422,1.7968899 0.3374887,3.5971229 0.5324974,5.3919259 0.1225806,0.724474 0.9531284,0.891505 1.5740807,0.863647 0.6816401,-0.02589 1.3886093,0.04761 2.050567,-0.130095 0.5207402,-0.191932 0.6512077,-0.760913 0.6591917,-1.254634 0.194249,-2.04966 0.388498,-4.0993194 0.582747,-6.1489791 C 10.432566,6.9627531 10.13766,6.901124 9.8398438,6.9023438 Z" />
                        </svg>
                        <span>Buy Me A Coffee</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/BritishWerewolf">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg>
                        <span>GitHub</span>
                    </a>
                </li>
                <li>
                    <a href="https://x.com/BritWerewolf">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                        </svg>
                        <span>Twitter</span>
                    </a>
                </li>
            </ul>

            <ul role="list">
                <li>
                    <a href="https://github.com/BritishWerewolf/absurd/blob/main/README.md" class="font-medium">README</a>
                </li>
                <li>
                    <a href="https://github.com/BritishWerewolf/absurd/blob/main/LICENCE" class="font-medium"> Licence</a>
                </li>
            </ul>
        </section>
    </Container>
</footer>

<style>
section {
    @apply divide-y-2 md:divide-y-0;
    @apply divide-x-0 md:divide-x-2;

    /* All these should either be 0 or some other same number. */
    @apply gap-6;
    & > ul:not(:first-child) {
        @apply pt-6 md:pt-0;
        @apply pl-0 md:pl-6;
    }
    /* @apply [&>*:not(:first-child)]:pt-6 md:[&>*:not(:first-child)]:pt-0;
    @apply [&>*:not(:first-child)]:pl-0 md:[&>*:not(:first-child)]:pl-6; */
}

ul {
    @apply space-y-4;
}

li a {
    @apply flex items-center space-x-3 transition hover:text-primary-500 dark:hover:text-primary-100;
}
</style>
