---
import Container from '@/components/Container.astro';
import Feature from '@/components/Feature.astro';
---

<section id="features">
  <Container>
    <div class="md:w-2/3 lg:w-1/2">
      <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
        A CLI for Surrealists
      </h2>
      <p class="text-gray-600 dark:text-gray-300">Inspired by tools like Laravel's <code>artisan</code>, <code>absurd</code> aims to provide a simple API that feels natural to write in the Terminal, yet powerful in its results.</p>
    </div>
    <div class="mt-16 overflow-hidden text-gray-600 bg-white border border-gray-100 grid divide-x divide-y divide-gray-100 dark:bg-gray-800 place-items-center dark:divide-gray-700 rounded-3xl dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">
      <Feature title="Command Line Interface">
        Manage your SurrealDB stores, models, and controllers directly from the Terminal.
      </Feature>
      <Feature title="Mutliple Engine Support">
        With support for <code>Mem</code> and <code>RocksDB</code>, there are plans to add all SurrealDB engines in future.
      </Feature>
      <Feature title="Schema Management">
        Easily specify a schema when creating a new model; by passing your fields, or schemafull or schemaless flags.
      </Feature>
      <Feature title="Automatic registration">
        Immediately after registering a model, it can be <code>mod</code> into your main.rs file to be used.
      </Feature>
    </div>
  </Container>
</section>
