---
import Blur from '@/components/Blur.astro';
import Container from '@/components/Container.astro';
---

<div class="relative" id="home">
    <Blur />
    <Container>
        <div class="relative ml-auto pt-36">
            <div class="mx-auto text-center lg:w-2/3">
                <h1 class="invisible">Absurd - The Productivity tool for SurrealDB.</h1>
                <h2 class="text-5xl font-bold text-gray-900 text-balance dark:text-white md:text-6xl xl:text-7xl">
                    The ultimate <span class="text-secondary-900 dark:text-secondary-100">productivity tool</span> for <span class="text-primary-900 dark:text-primary-100">SurrealDB</span></p>
                </h2>

                <div class="flex flex-wrap justify-center mt-16 gap-y-4 gap-x-6">
                    <a href="https://crates.io/crates/absurd" class="relative flex items-center justify-center w-full px-6 h-11 before:absolute before:inset-0 before:rounded-full before:bg-primary-500 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                        <span class="relative text-base font-semibold text-white">Get started</span>
                    </a>
                </div>

                <div class="justify-between hidden py-8 mt-16 text-left border-gray-100 text-pretty border-y dark:border-gray-800 sm:flex">
                    <div class="flex-1">
                        <p class="text-lg font-semibold text-gray-700 dark:text-white">Easy to use</p>
                        <p class="mt-2 text-gray-500">A simple CLI to easily create stores, models and controllers.</p>
                    </div>
                    <div class="flex-1">
                        <p class="text-lg font-semibold text-gray-700 dark:text-white">Flexible and Scalable</p>
                        <p class="mt-2 text-gray-500">Supports multiple engines like In-Memory and RocksDB</p>
                    </div>
                    <div class="flex-1">
                        <p class="text-lg font-semibold text-gray-700 dark:text-white">Iron Oxide</p>
                        <p class="mt-2 text-gray-500">Written in Rust, for the SurrealDB Rust SDK, with plans to support more SDKs</p>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>
