@font-face {
    font-family: Urbanist;
    src: url(/fonts/Urbanist-VariableFont_wght.ttf) format("truetype");
}

html {
    font-family: Urbanist, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img, svg {
    max-width: 100%;
}
