---
import '@/css/styles.css';

import AppFooter from '@/components/AppFooter.astro';
import AppHeader from '@/components/AppHeader.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
	<meta name="generator" content={Astro.generator}>
	<meta name="description" content="Absurd: The Productivity Tool for SurrealDB">

	<title>Absurd | The Productivity Tool for SurrealDB</title>
</head>
<body class="bg-white dark:bg-gray-900">
	<AppHeader/>
	<slot />
	<AppFooter/>
</body>
</html>
